NODE_ENV=development

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=modix
POSTGRES_PASSWORD=modix
POSTGRES_DB=modix

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=modix
RABBITMQ_DEFAULT_PASS=modix

JWT_ACCESS_SECRET=change_me
JWT_ACCESS_EXPIRES_IN=1d